.body {
  /* width: 80%; */
  /* margin: 10; */
  /* background-color: antiquewhite; */
}

.food-category {
  margin: 30px;
}

.food-title {
  font-size: 28px;
  font-weight: bold;
}

.food-detail {
  font-size: 20px;
  font-weight: 600;
}

.search {
  width: 50%;
  margin: 30px;
}

.search-input {
  padding: 10px;
  width: 100%;
  border-width: 1px;
  border-radius: 10px;
  font-size: medium;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
