.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-bottom-width: 2px;
  border-bottom-color: aliceblue;
  box-shadow: 0px 5px 10px rgb(239, 243, 244);
}

.logo-container {
  width: 40%;
}
.logo-design {
  width: 100px;
  height: 50px;
  object-fit: contain;
}
.nav-items {
  width: 50%;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  font-size: 18;
  align-items: center;
}

.nav-items > ul > li {
  margin: 10px;
  margin-right: 8%;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
