.body {
  /* width: 80%; */
  /* margin: 10; */
  /* background-color: antiquewhite; */
}

.food-category {
  margin: 30px;
}

.food-title {
  font-size: 28px;
  font-weight: bold;
}

.food-detail {
  font-size: 20px;
  font-weight: 600;
}

.search {
  width: 50%;
  margin: 30px;
}

.search-input {
  padding: 10px;
  width: 100%;
  border-width: 1px;
  border-radius: 10px;
  font-size: medium;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.res-card {
  width: 270px;
  height: 95%;
  padding: 10px;
  border-radius: 10px;
  object-fit: contain;
}

.res-card:hover {
  background-color: rgb(246, 246, 227);
  border-color: rgb(192, 214, 214);
  border-width: 5px;
}

.res-logo {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.res-food-heading {
  font-size: 18px;
  font-weight: bold;
}

.res-delivery {
  font-weight: 600;
}

.res-detail {
  color: rgb(112, 109, 109);
}
